body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
    width: 100% !important;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.body {
    min-height: 85vh;
}

body {
    background-color: #E5E5E5;
}





.hero-image {
    object-fit: cover;
    width: 100%;
    object-position: center;
}
.hero-text {
    position: absolute;
    top: 30vw;
    color: #E5E5E5;
    font-size: 11% !important;
}
@media only screen and (min-width: 1143px) {
    .hero-text {
        left: 67%;
    }
}
@media only screen and (max-width: 1143px) and (min-width: 332px) {
    .hero-text {
        left: 50%;
    }
}
@media only screen and (max-width: 331px) {
    .hero-text {
        display: none;
    }
}